<a href="https://colab.research.google.com/github/jereyel/LinearAlgebra/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish our skills in Python Programming. In this notebook we are going to cover:




*   Variables and Data Types
*   Operations
*   Input and Output Operations
*   Iterables
*   Functions

## Variables and Data Types

In [7]:
x = 1
a, b = 3, -2

In [ ]:
type (x)

In [ ]:
y = 3.0
type(y)

In [ ]:
x = float(x)
type(x)

In [ ]:
s, t, u = "1", '3', 'three'
type(s)

## Operations

### Arithmetic

In [20]:
w, x, y, z = 4.0, -3.0, 1, -32

In [19]:
### Addition
S = w + x

In [21]:
### Subtractions
D = y - z

In [23]:
### Multiplication
P = w*z

In [27]:
### Division
Q = y/x

-0.3333333333333333

In [ ]:
### Floor Division
Qf = w//z
Qf

In [31]:
### Exponentiation
E = w**w
E

256.0

In [32]:
### Modulo
mod = z%x
mod

-2.0

### Assignment

In [ ]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [ ]:
A += w

In [ ]:
B -= x

In [ ]:
C *= w

In [ ]:
D /= x

In [ ]:
E **= y
E

### Comparators

In [58]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0

In [ ]:
## Equality
size_1 == true_size

In [ ]:
## Non-Equality
size_2 != true_size

In [68]:
## Inequality
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size <= size_1
s4 = size_2 <= true_size

### Logical

In [ ]:
size_1 == true_size
size_1

In [ ]:
size_1 is true_size

In [ ]:
size_1 is not true_size

In [74]:
P, Q = True, False
conj = P and Q

In [ ]:
disj = P or Q
disj

In [ ]:
nand = not (P and Q)
nand

In [ ]:
xor = (not P and Q) or (P and not Q)
xor

## Input and Output

In [ ]:
print("Helllo World!")

In [79]:
cnt = 14000

In [ ]:
string = "Hello World!"
print(string, ", Current COVID  count is", cnt)
cnt += 10000

In [ ]:
print(f"{string}, current count is: {cnt}")

In [96]:
sem_grade = 85.25
name = "jerbox"
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello jerbox, your semestral grade is: 85.25

In [ ]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of your semestral grade are:\
\n\t {:.2%} for Prelims\
\n\t {:.2%} for Midterms, and\
\n\t {:.2%} for Finals.".format(pg, mg, fg))

In [ ]:
e = input("Enter a number: ")

In [ ]:
name = input("Enter your name: ");
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

### Looping Statements

## While

In [ ]:
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i += 1

## For

In [ ]:
i = 0
for i in range(11):
  print(i)

In [119]:
playlist = ["Bahay Kubo", "Magandang Kanta", "Kubo"]
print('Now Playing:\n')
for song in playlist
print(song)

SyntaxError: ignored

##Flow Control

###Condition Statements

In [120]:
num_1, num_2 = 14, 12
if(num_1 == num_2):
  print("HAHA")
elif(num_1>num_2):
  else:
    print("HUHU")

SyntaxError: ignored

##Functions

In [121]:
# void Deleteuser (int userid){
#   delete(userid);
# }

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))

In [126]:
addend1, addend2 = 5, 6

In [127]:
def add(addend1, addend2):
  sum = addend1 + addend2
  return sum

In [129]:
add(5, 4)

9